*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 500vh;
    background-color: #DB873F;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}
header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}
header.rolagem a, header.rolagem i{
    color: #DB873F;
}
header.rolagem .btn-contato button{
    background-color: #DB873F;
}
header.rolagem ul li a:hover{
    color: #fff;
    background-color: #DB873F;
}
header i{
    font-size: 30px;
    color: #fff;
}
header ul{
    list-style: none;
    
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    border-radius: 5px;
    transition: .5s;
}
header ul li a:hover{
    background-color: #fff;
    color: #DB873F;
}
.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #db883fa2;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
}
.btn-contato button:hover{
    background-color: #DB873F;
}

.banner{
    height: 100vh;
    background-image: url(img/por-do-sol.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    font-size: 4em;
    color: #fff;
}
.banner h1 span{
    color: #DB873F;
}

/*=========RESPONSIVO=====*/
#toggler,
.navbar label{
    display: none;
}

@keyframes reveal {
    from {
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 960px){
    header ul li{
        display: inline-block;
        margin: 0 10px;
        transition: 0.5s;
    }
    .banner h1{
        font-size: 3em;
        padding: 10px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 680px){
    header{
        width: 100%;
        padding: 20px 4%;
        position: fixed;
    }/*
    header i{
        margin-right: 50vh;
    }*/
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 10px;
        transition: 0.5s;
    }
    header.rolagem{
        padding: 10px 4%;
    }
    .banner h1{
        font-size: 3em;
        padding: 10px;
        transition: 0.5s;
    }
    .btn-contato button{
        display: none;
    }

    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
